:root{

    --primary: #d81e5b;
    --secondary: #8c38ff;
    --dark: #131a26;
    --light:#eee;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fire Sans', sans-serif;

}
body{
    background-color: var(--light);

}

.App{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 16px;
}